@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
.navs a.router-link-exact-active {
   
    background-color: wheat
}
// .navs a:hover {
//     background-color: wheat;
// }
.navs a.router-link-active:not(.only-exact-menu) {
    
    background-color: wheat
}