<template>
    <div class="main">
      <div class="indent">
        <hr class="first_line">
        <hr class="second_line">
        <form action=""  class="connect">
            <div class="heading">
              <h2>Главная</h2>
              <h5>Можете изменить информацию о себе</h5>
            </div>
            <div class="form msg_letter">
                <input type="text" class="form_input" placeholder=" " v-model="main.name">
                <label class="form_label">Имя</label>
              </div>
            <div class="form msg_letter">
                <input type="text" class="form_input" placeholder=" " v-model="main.surname">
                <label class="form_label">Фамилия</label>
              </div>
            <div class="form msg_letter">
              <input type="text" class="form_input" placeholder=" " v-model="main.inst">
              <label class="form_label">Ссылка на инстаграмм</label>
            </div>
            <div class="form msg_letter">
              <input type="text" class="form_input" placeholder=" " v-model="main.vk">
              <label class="form_label">Ссылка на вконтакте</label>
            </div>
            <input type="button" class="submit" value="Сохранить" @click="changeTuning">
        </form>
      </div>   
    </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Main",
  components: {
  },
  data() {
      return {
          main: {
            name: "Андрей",
            surname: "Белый",
            vk: "https://vk.com/andrew316",
            inst: "https://www.instagram.com/andrew_the_white_/?igshid=1l37v2la85v83"
          } 
      }
  },
  methods: {
    changeTuning: function() {
        console.log(this.main)
    }  
  }
}
</script>

<style scoped>
.main {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
  display: flex;
  align-items: baseline;
  padding-bottom: 41px;
}
h2 {
  margin: 0px;
  padding-right: 50px;
  color: rgba(58, 59, 63, 1);
}
h5 {
  margin: 0px;
  color: rgba(102, 120, 138, 1);
  font-weight: 300;
}
.connect {
  position: relative;
}
.first_line, .second_line {
    border: none;
    color: #E4E7EB;
    background-color: #E4E7EB;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 55px
   }
.second_line {
  top: 360px;
}
.indent {
  padding: 20px 50px;
  box-shadow: 0px 0px 15px 2px rgb(218, 210, 210);
  background-color: white;
  width: 60%;
  position: relative;
}
h1 {
    text-align: center;
}
.form {
    position: relative;
}
.form_label {
    position: absolute;
    top: 15px;
    left: 5px;
    bottom: 16px;
    font-size: 15px;
    color: rgba(105, 102, 102, 0.6);
    transition: 0.3s;
    pointer-events: none;
}
.form_input {
    height: 35px;
    width: 99%;
    padding: 10px 0px 0px 5px;
    font-size: 14px;
    color: black;
    border: 1px solid #bec5ca;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    outline: none;
    transition: 0.1s;
}
.form_input:focus {
    outline: 2px solid #1665D8;
}
.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
    top: 4px;
    font-size: 10px;
}
.msg_letter {
    width: 100%;
    margin-bottom: 20px;
    border: none;
}
.submit {
    margin-top: 41px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 25%;
    font-size: 16px;
    outline: none;
    border: none;
    color: white;
    padding: 11px 0px;
    background-color: #1665D8;
    border-radius: 4px;
    cursor: pointer;
}
</style>

