<template>
    <div class="form">
        <div class="content">
            <table class="table">
                <div class="header">
                    <h2>Можете изменить или добавить новый навык</h2>
                    <button class="btn" @click="addTd">
                        <fa-icon :icon="['fas', 'plus']"/>
                        Добавить
                    </button>
                </div>
                <tr>
                    <th>Раздел</th>
                    <th>Имя</th>
                    <th>Проценты</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                <div>
                    <Td v-for="cell, id in paginatedUsers" :key="id" :line="cell" :editTrigger="editTrigger"
                    @deleteThis="deleteLine(id)"
                    @cancelEdit="cancelEdit"
                    ></Td>
                </div>
                <div class="pagination">
                    <button @click="prevList" class="page">Prev</button>
                    <button @click="nextList" class="page">Next</button>
                </div>
                <div class="pages">
                    <div class="page" 
                        v-for="page, id in allPages" 
                        :key="id"
                        @click="pageClicked(page)">
                        {{page}}
                    </div>
                </div>
                <p>Страница {{currentPage}} из {{allPages}}</p>
            </table>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Td from './Td'

export default {
  name: "Edit",
  components: {
      Td
  },
  data() {
      return {
          editMode: false,
          cells: [
            {
               section: "Front-end",
               name: "HTML5",
               percent: 50,
               key: 1
            },
            {
               section: "Front-end",
               name: "CSS",
               percent: 10,
               key: 2
            },
            {
               section: "Front-end",
               name: "JavaScript",
               percent: 50,
               key: 3
            },
            {
               section: "Front-end",
               name: "Vue.js",
               percent: 50,
               key: 4
            },
            {
               section: "Workflow",
               name: "Git",
               percent: 50,
               key: 5
            },
            {
               section: "Workflow",
               name: "Terminal",
               percent: 50,
               key: 6
            },
            {
               section: "Workflow",
               name: "Gulp",
               percent: 50,
               key: 7
            },
            {
               section: "Workflow",
               name: "Webpack",
               percent: 50,
               key: 8
            }
          ],
          newTd: {
                section: "Введите значение",
                name: "Введите значение",
                percent: 0,
          },
          currentPage: 1,
          editTrigger: 1,
          countKey: 9,
          counter: 1,
          usersPerPage: 8
      }
  },
  methods: {
      deleteLine(id) {
          console.log(this.cells[id].key);
          console.log(this.newTd[id].key);
          console.log(this.cells.length);
          this.cells.splice(this.cells[id].key || this.newTd[id].key, 1);
      },
      addTd() {
          this.newTd.key =  this.countKey
          this.countKey += 1
          this.cells.push(Object.assign({}, this.newTd))
      },
      cancelEdit(key) {
          this.editTrigger = key
      },
      prevList() {
          if (this.currentPage > 1) {
              this.currentPage--
          }
      },
      nextList() {
          if (this.currentPage < this.allPages) {
          this.currentPage++
          }
      },
      pageClicked(page) {
          this.currentPage = page;
      }
  },
  computed: {
      allPages() {
          return Math.ceil(this.cells.length / this.usersPerPage);
      },
      paginatedUsers() {
          let from = (this.currentPage - 1) * this.usersPerPage;
          let to = from + this.usersPerPage;
          return this.cells.slice(from, to)
      }
  },
  watch: {    
      }
}

</script>

<style scoped>
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: rgba(58, 59, 63, 1)
}
.btn {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 18%;
    border: none;
    background-color: rgb(238, 218, 218);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(58, 59, 63, 1);
    font-weight: 700;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(97% - 30px);
}
.content {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 600px;
}
.table {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    width: 100%;
    padding: 20px 50px 10px 50px;
    box-shadow: 0px 0px 15px 2px rgb(218 210 210);
    background-color: white;
}
.table tr {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(238, 218, 218)
}
th {
    width: 7%;
    text-align: left;
    color: rgba(58, 59, 63, 1)
}
.pagination {
    margin-top: 10px;
}
.page {
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    background-color: rgb(230, 223, 223);
}
.pages {
    display: flex;
    justify-content: center;
}
</style>