<template>
    <div>
        <tr>
            <td><input type="text" :class="className" :disabled="readonly" v-model="line.section"></td>
            <td><input type="text" :class="className" :disabled="readonly" v-model="line.name"></td>
            <td><input type="text" :class="className" :disabled="readonly" v-model="line.percent"></td>
            <td v-if="!editMode"><fa-icon class="icon" @click="editThis" :icon="['fas', 'pen']"/></td>
            <td v-else><fa-icon class="icon" @click="editThis" :icon="['fas', 'check']"/></td>
            <td><fa-icon class="icon" @click="deleteThis" :icon="['fas', 'trash-alt']"/></td>
        </tr>
    </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Td",
  components: {
  },
  props: {
      line: {
          type: Object,
          default() {
              return {}
          }
      },
      editTrigger: {
          type: Number
      }
  },
  data() {
      return {
          editMode: false,
      }
  },
  methods: {
      deleteThis() {
          this.$emit("deleteThis")
      },
      editThis() {
          this.editMode = !this.editMode
          this.$emit("cancelEdit", this.line.key)
      }
      },
  computed: {
        readonly: function() { 
            return !this.editMode
            },
        className: function() {
            return {
              clicked: this.editMode
          }
    }
  },
   watch: {
       editTrigger(val) {
           if (val != this.line.key) {
                this.editMode = false;
           }  
       }
   } 
}

</script>

<style scoped>
tr {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(238, 218, 218)
}
td {
    width: 7%;
    text-align: left;
    color: rgba(58, 59, 63, 1)
}
input {
    width: 250%;
    border: none;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px 0px;
    color: rgba(58, 59, 63, 1)
}
input:focus {
    border: 1px solid rgba(158, 160, 165, 1);
    outline: none;
}
.clicked {
    color: rgba(158, 160, 165, 1);
    border: 1px solid rgba(158, 160, 165, 1);
    outline: none;
    padding: 5px;
}
.icon {
    cursor: pointer;
    padding: 5px 0px;
}
</style>