<template>
    <div>
        <div class="navs">
            <router-link to="/admin/about" class="photo only-exact-menu">Фотография</router-link> 
            <router-link to="/admin/about/info">Данные</router-link> 
        </div>
        <router-view/>
    </div>
</template>



<style scoped>
.navs {
    padding: 15px 0px;
    height: 3%;
}
.navs a {
    text-decoration: none;
    color: rgba(58, 59, 63, 1);
    font-size: 18px;
    transition: 0.5s;
    padding: 10px;
    border-radius: 20px;
}
.photo {
    margin: 0px 5px 0px 40px;
}
.navs a:hover {
    background-color: wheat;
}
</style>