<template>
    <div class="flex">
      <div class="indent">
        <hr class="first_line">
        <hr class="second_line">
        <form action=""  class="connect">
            <div class="heading">
              <h2>Данные</h2>
              <h5>Можете изменить или внести новые данные</h5>
            </div>
            <div class="form">
                <input type="text" class="form_input" placeholder=" " v-model="main.city">
                <label class="form_label">Город</label>
              </div>
            <div class="form">
                <input type="text" class="form_input" placeholder=" " v-model="main.birthday">
                <label class="form_label">Родился</label>
              </div>
            <div class="form">
              <textarea v-model="main.description" maxlength="200" class="textarea" rows="2"></textarea>
              <label class="form_label">Описание</label>
            </div>
            <div class="form msg_letter">
              <textarea v-model="main.quote" maxlength="200" class="textarea"></textarea>
              <label class="form_label">Цитата</label>
            </div>
            <input type="button" class="submit" value="Сохранить" @click="changeTuning">
        </form>
      </div>
    </div>
</template>


<script>
// @ is an alias to /src

export default {
  name: "About",
  components: {
  },
  data() {
      return {
          main: {
            city: "Санкт-Петербург",
            birthday: "12 января 2000",
            description: "Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.",
            quote: "Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите как тут все классно и красиво!"
          } 
      }
  },
  methods: {
    changeTuning: function() {
        let area = document.getElementsByTagName("textarea")[1];
        console.log(area.length)
    }  
  }
}
</script>

<style scoped>
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(97% - 30px);
}
.indent {
    width: 75%;
    margin: auto;
    box-shadow: 0px 0px 15px 2px rgb(218, 210, 210);
    background-color: white;
    border-radius: 5px;
    position: relative;
}
.heading {
  display: flex;
  align-items: baseline;
  padding-bottom: 41px;
}
h2 {
  margin: 0px;
  padding-right: 50px;
  color: rgba(58, 59, 63, 1);
}
h5 {
  margin: 0px;
  color: rgba(102, 120, 138, 1);
  font-weight: 300;
}
.connect {
  position: relative;
  margin: 20px 50px;
}
.first_line, .second_line {
    border: none;
    color: #E4E7EB;
    background-color: #E4E7EB;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 55px
   }
.second_line {
  top: 441px;
}
h1 {
    text-align: center;
}
.form {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border: none;
}
.form_label {
    position: absolute;
    top: 4px;
    left: 5px;
    bottom: 16px;
    font-size: 15px;
    color: rgba(105, 102, 102, 0.6);
    transition: 0.3s;
    pointer-events: none;
}
.form_input {
    height: 35px;
    width: 99%;
    padding: 10px 0px 0px 5px;
    font-size: 14px;
    color: black;
    border: 1px solid #bec5ca;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    outline: none;
    transition: 0.05s;
}
.form_input:focus {
    outline: 2px solid #1665D8;
    border-color: transparent;
}
.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
    top: 4px;
    font-size: 10px;
}
.msg_letter {
    margin-bottom: 0px;
}
.textarea {
  width: 99%;
  height: 60px;
  padding: 23px 0px 6px 4px;
  border: 1px solid #bec5ca;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 0px;
  transition: 0.05s;
  overflow: hidden;
  resize: none;
}
.textarea:focus {
    outline: 2px solid #1665D8;
    border-color: transparent;
}
.submit {
    margin-top: 41px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 25%;
    font-size: 16px;
    outline: none;
    border: none;
    color: white;
    padding: 11px 0px;
    background-color: #1665D8;
    border-radius: 4px;
    cursor: pointer;
}
</style>