<template>
    <div class="flex">
        <div class="for_line">
            <hr class="first_line">
            <div class="about">
                <form action=""  class="connect">
                    <div class="head">
                        <div>
                            <h2>Измените фотографию</h2>
                            <h5>Можете выбрать новую фотографию</h5>
                        </div>
                        <img class="myphoto" src="../../images/content/user.jpg">
                    </div>
                    <div class="buttons">
                        <input type="button" class="submit photo" value="Обзор" @click="changeTuning">
                        <input type="button" class="submit photo" value="Сохранить" @click="changeTuning">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>


<script>
// @ is an alias to /src

export default {
  name: "About",
  components: {
  },
  data() {
      return {
          photo: {
            city: "Санкт-Петербург",
            birthday: "12 января 2000",
            description: "Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.",
            quote: "Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите как тут все классно и красиво!"
          } 
      }
  },
  methods: {
    changeTuning: function() {
        console.log(this.user)
    }  
  }
}
</script>

<style scoped>
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(97% - 30px);
}
.about {
    margin: 20px 50px 20px 50px;
}
.head {
    display: flex;
    justify-content: space-between;
}
.for_line {
    position: relative;
    width: 60%;
    margin: auto;
    box-shadow: 0px 0px 15px 2px rgb(218, 210, 210);
    background-color: white;
    border-radius: 5px;
}
.first_line {
    border: none;
    color: #E4E7EB;
    background-color: #E4E7EB;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 224px;
   }
h2 {
    color: rgba(58, 59, 63, 1);
}
h5 {
  margin: 0px;
  color: rgba(102, 120, 138, 1);
  font-weight: 300;
}
.myphoto {
    height: 170px;
    border-radius: 10%;
    margin: 20px 20px 40px auto;
}
.submit {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    color: rgba(66, 90, 112, 1);
    background-color: white;
    cursor: pointer;
}
.submit:hover {
    color: rgba(22, 101, 216, 1);
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.photo {
    width: 40%;
}
</style>