<template>
  <div class="about">
    <div class="admin">
      <div class="registration">
        <div>
          <router-link to="/" class="back-to-site"><fa-icon :icon="['fas', 'chevron-left']"/>  Назад к сайту</router-link>
          <h1>Войти в админку</h1>
        </div>
          <form action=""  class="connect">
            <div class="form msg_letter">
                <input type="text" class="form_input" placeholder=" ">
                <label class="form_label">Имя</label>
              </div>
            <div class="form msg_letter">
                <input type="text" class="form_input" placeholder=" ">
                <label class="form_label">Фамилия</label>
              </div>
            <div class="form msg_letter">
              <input type="text" class="form_input" placeholder=" ">
              <label class="form_label">Электронная почта</label>
            </div>
            <div class="form msg_letter">
              <input type="password" class="form_input" placeholder=" ">
              <label class="form_label">Пароль</label>
            </div>
            <router-link to="/admin"><input type="submit" class="submit" value="Войти"></router-link>
          </form>
      </div>
    </div>
  </div>
</template>

<style scoped>
.back-to-site {
  text-decoration: none;
  color: black;
}
h1 {
  text-align: center;
}
.about {
  display: flex;
  justify-content: center;
}
.registration {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.connect {
  width: 357px;
}
.form {
    position: relative;
}
.form_label {
    position: absolute;
    top: 15px;
    left: 5px;
    bottom: 16px;
    font-size: 15px;
    color: rgba(105, 102, 102, 0.6);
    transition: 0.3s;
    pointer-events: none;
}
.form_input {
    height: 35px;
    width: 352px;
    padding: 10px 0px 0px 5px;
    font-size: 19px;
    color: black;
    border: 1px solid #bec5ca;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    outline: none;
    transition: 0.1s;
}
.form_input:focus {
    outline: 2px solid #1665D8;
}
.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
    top: 4px;
    font-size: 10px;
}
.msg_letter {
    width: 100%;
    margin-bottom: 20px;
    border: none;
}
.submit {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    color: white;
    padding: 15px 0px;
    background-color: #1665D8;
    border-radius: 4px;
    cursor: pointer;
}
</style>
