<template>
  <div class="body">
    <section class="list">
            <div class="container">
                <header class="head">
                    <div> 
                        <p class="initials">АБ</p>
                    </div>
                    <div class="navs">
                        <p class="nav">Главная</p>
                        <p class="nav about">Обо мне</p>
                        <p class="nav">Навыки</p>
                        <p class="nav">Работы</p>
                        <p class="nav">Отзывы</p>
                        <p class="nav">Связаться</p>
                    </div>
                    <div class="icons">
                        <a href="https://www.instagram.com/andrew_the_white_/?igshid=1l37v2la85v83"><img src="../images/icons/insta.svg" width="28px" height="28px"/></a>
                        <a href="https://vk.com/andrew316"><img src="../images/icons/vk.svg" width="28px" height="28px"/></a> 
                        <router-link to="/login"><img src="../images/icons/github.svg" width="28px" height="28px"/></router-link>
                    </div>
                </header>
                <div class="centre">
                    <p class="text">Личный сайт<br> веб разработчика</p>
                    <p class="bigname">Андрей Белый</p>
                </div>
                <a class="scroll" href="#aboutMe">
                    <p class="link">Скролл</p>
                    <img src="../images/icons/scroll.svg" width="20px" height="30px" href="#"/>
                </a>
            </div>
        </section>
        <section>
            <div class="container information"> 
                <div class="aboutme" id="aboutMe">
                    <img class="myphoto" src="../images/content/user.jpg">
                    <div>
                        <p>Привет, меня зовут</p>
                        <p class="name">Андрей Белый</p>
                        <p>Я занимаюсь разработкой современных сайтов и приложений.<br> Мне нравится делать интересные и современные проекты.</p>
                    </div>
                </div>
                <div class="info">
                    <div class="ask">
                        <p>Проживаю:</p>
                        <p>Возраст:</p>
                        <p>Родился:</p>
                    </div>
                    <div class="answer">
                        <p>Санкт-Петербург</p>
                        <p>21 год</p>
                        <p>12 января 2000</p>
                    </div>
                    <p class="reason">Этот сайт я сделал в рамках обучения в Школе онлайн образования<br> LoftSchool. Чуть позже я освежу в нем свой контент. А пока<br> посмотрите как тут все классно и красиво!</p>
                </div>
            </div>   
            <div class="three"></div>
        </section>
        <section class="forbag">
            <div class="helpfull">
                <p>Чем я могу быть полезен вам</p>
                <p class="aboutme">Этот сайт я сделал в рамках обучения в Школе онлайн образования<br> LoftSchool. Чуть позже я освежу в нем свой контент. А пока<br> посмотрите как тут все классно и красиво!</p>
                <div class="frontend">
                    <div>Front-end</div>
                    <div class="langs">
                        <div class="ring">
                            <div class="incircle">
                                HTML5
                            </div>
                        </div>
                        <div class="ring">
                            <div class="incircle">
                                CSS3
                            </div>
                        </div>
                        <div class="ring">
                            <div class="incircle">
                            Javascript 
                            </div>
                        </div>
                        <div class="ring">
                            <div class="incircle">
                                <div class="js">Jquery и Vue.js</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frontend">
                    <div>Workflow</div>
                    <div class="langs">
                        <div class="ring">
                            <div class="incircle">
                                GIT
                            </div>
                        </div>
                        <div class="ring">
                            <div class="incircle">
                                Terminal
                            </div>
                        </div>
                        <div class="ring">
                            <div class="incircle">
                                Gulp 
                            </div>
                        </div>
                        <div class="ring">
                            <div class="incircle">
                                Webpack
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class ="bag" src="../images/decor/bag.jpg"/>
        </section>
        <section class="container">
            <p class="name">Мои работы</p>
            <div class="slider_cite">
                <div class="preview">
                    <div class="slider">
                        <div class="miniworks">
                            <img src="../images/content/works/1.jpg" alt="" class="active" id="first" width="100px" height="5%">
                            <img src="../images/content/works/2.jpg" alt="" id="second" width="100px" height="5%">
                            <img src="../images/content/works/3.jpg" alt="" id="third" width="100px" height="5%">
                            <img src="../images/content/works/4.jpg" alt="" id="fourth" width="100px" height="5%">
                            <img src="../images/content/works/5.jpg" alt="" id="fifth" width="100px" height="5%">
                        </div>
                        <div class="slider-line">
                            <img src="../images/content/works/1.jpg" alt="" width="615px" height="35%">
                            <img src="../images/content/works/2.jpg" alt="" width="615px" height="35%">
                            <img src="../images/content/works/3.jpg" alt="" width="615px" height="35%">
                            <img src="../images/content/works/4.jpg" alt="" width="615px" height="35%">
                            <img src="../images/content/works/5.jpg" alt="" width="615px" height="35%">
                        </div>
                    </div>
                    <div class="vertical">
                        <button class="slider-prev prev"><fa-icon :icon="['fas', 'chevron-left']"/></button>
                        <button class="slider-next next"><fa-icon :icon="['fas', 'chevron-right']"/></button>
                    </div>
                </div>
                <div class="not_slider">
                    <div class="aboutme proglangs">
                        <div class="html">HTML</div>
                        <div class="css">CSS</div>
                        <div class="jss">Javascript</div>
                    </div>
                    <p class="helpfull cite">Сайт школы образования</p>
                    <p class="aboutme">Этот парень проходил обучение<br> веб-разработке не где то, а в LoftSchool! 2<br> месяца только самых тяжелых<br> испытаний и бессонных ночей!</p>
                    <div class="check_link">
                        <img src="../images/icons/link.svg" alt="" width="13px" height="22px" color="blue">
                        <a href="" class="check">Посмотреть сайт</a>
                    </div>
                </div> 
            </div>          
        </section>
        <section class="slider_about">
            <div class="not_budda">
                <div class="three white"></div>
                <div class="container feedback">
                    <p class="name">Что обо мне говорят</p>
                    <div class="horizont">
                        <button class="slider-prev2 prev2 disabled"><fa-icon :icon="['fas', 'chevron-left']"/></button>
                        <button class="slider-next2 next2"><fa-icon :icon="['fas', 'chevron-right']"/></button>
                    </div>
                </div>
            </div>
            <div class="budda">
                <div class="review">
                    <div class="slider-line-2">
                        <div class="slider-element">
                            <div class="forjs">
                                <div class="quote">
                                    <img src="../images/icons/quote.svg" alt="" height="55px" width="55px">
                                </div>
                                <div class="director">
                                    <p class="aboutme guy">Этот парень проходил обучение<br> веб-разработке не где-то, а в LoftSchool!<br> 4,5 месяца только самых тяжелых<br> испытаний и бесонных ночей!</p>
                                    <div class="leader">
                                        <img class="profi" src="../images/content/photo0.png" alt="">
                                        <div>
                                            <div class="answer fullname">Ковальчук Дмитрий</div>
                                            <div class="ask position">Основатель LoftSchool</div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="slider-element founder">
                            <div class="forjs">
                                <div class="quote">
                                    <img src="../images/icons/quote.svg" alt="" height="55px" width="55px">
                                </div>
                                <div class="director">
                                    <p class="aboutme guy">Этот код выдержит любые испытания.<br>Только пожалуйста, не загружайте сайт на<br>слишком старых браузерах</p>
                                    <div class="leader">
                                        <img class="profi" src="../images/content/photo1.png" alt="">
                                        <div>
                                            <div class="answer fullname">Владимир Сабанцев</div>
                                            <div class="ask position">Преподаватель</div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="slider-element">
                            <div class="forjs">
                                <div class="quote">
                                    <img src="../images/icons/quote.svg" alt="" height="55px" width="55px">
                                </div>
                                <div class="director">
                                    <p class="aboutme guy">Этот парень проходил обучение<br> веб-разработке не где-то, а в LoftSchool!<br> 4,5 месяца только самых тяжелых<br> испытаний и бесонных ночей!</p>
                                    <div class="leader">
                                        <img class="profi" src="../images/content/photo2.png" alt="">
                                        <div>
                                            <div class="answer fullname">Владимир Сабанцев</div>
                                            <div class="ask position">Преподаватель</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-element">
                            <div class="forjs">
                                <div class="quote">
                                    <img src="../images/icons/quote.svg" alt="" height="55px" width="55px">
                                </div>
                                <div class="director">
                                    <p class="aboutme guy">Этот парень проходил обучение<br> веб-разработке не где-то, а в LoftSchool!<br> 4,5 месяца только самых тяжелых<br> испытаний и бесонных ночей!</p>
                                    <div class="leader">
                                        <img class="profi" src="../images/content/photo0.png" alt="">
                                        <div>
                                            <div class="answer fullname">Ковальчук Дмитрий</div>
                                            <div class="ask position">Основатель LoftSchool</div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
                <div id="form" class="container">
                    <p class="name write_me">Связаться со мной</p>
                    <form action=""  class="connect">
                        <div class="forms">
                            <div class="form">
                                <input type="text" class="form_input" placeholder=" ">
                                <label class="form_label">Введите ваше имя</label>
                                <img src="../images/icons/user.svg" alt="" class="user" width="24px" height="24px">
                            </div>
                            <div class="form">
                                <input type="text" class="form_input" placeholder=" ">
                                <label class="form_label">Введите ваш email</label>
                                <img src="../images/icons/envelope.svg" alt="" class="user" width="24px" height="24px">
                            </div>
                        </div>
                        <div class="form msg_letter">
                            <input type="text" class="form_input" placeholder=" ">
                            <label class="form_label">Сообщение к письму</label>
                            <img src="../images/icons/message.svg" alt="" class="user" width="24px" height="24px">
                        </div>
                        <input type="submit" class="submit">
                    </form>
                </div>
            </div>
        </section>
        <section class="container footer">
            <div>
                <div class="copyright">&#169; 2021</div>
                <h4 class="last_name">АНДРЕЙ<br>БЕЛЫЙ</h4>
                <p class="own_site">Личный сайт<br>веб-разработчика</p>
            </div>
            <div> 
                <div class="navs foot">
                        <p class="nav">Главная</p>
                        <p class="nav about">Обо мне</p>
                        <p class="nav">Навыки</p>
                </div>
                <p class="afterwords">Этот сайт я сделал в рамках обучения в<br> Школе онлайн образования Loftschool</p>
                <div class="last_icons">
                    <div class="last_icon">
                        <a href="https://www.instagram.com/andrew_the_white_/?igshid=1l37v2la85v83"><img src="../images/icons/insta2.svg" width="20px" height="20px"/></a>
                    </div>
                    <div class="last_icon">
                        <a href="https://vk.com/andrew316"><img src="../images/icons/vk2.svg" width="20px" height="20px"/></a>
                    </div>
                    <div class="last_icon">
                        <img src="../images/icons/github2.svg" width="20px" height="20px"/>
                    </div> 
                </div>
            </div>
            <div>
                <div class="navs foot">
                        <p class="nav">Работы</p>
                        <p class="nav">Отзывы</p>
                        <p class="nav">Связаться</p>
                </div>
                <p class="afterwords">Всегда пишите код так, будто сопровождать его будет<br> склонный к насилию психопат, который знает где вы<br> живете</p>
                <p class="martin">Martin Golding</p>
            </div>
        </section>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {
  },
};
</script>

<style scoped>
.body {padding: 0; margin: 0px; box-sizing: border-box; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.list {
    background: linear-gradient(to bottom, transparent 0%, #efeff9 100%), url(../images/bg/hero_wide.jpg) center no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.container {
    padding: 55px 50px;
}
.head {
    display: flex;
    justify-content: space-between;
    color: #464e62;
}
.initials {
    margin: 0px;
    font-weight: 900;
    font-size: 40px;
}
.navs {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.nav {
    flex-shrink: 0;
    font-size: 15px;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 14%;
}
.centre {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.text {
    width: 180px;
    text-align: right;
    margin-right: 56px;
    font-size: 20px;
    color: #9b9fac;
}
.bigname {
    width: 500px;
    font-size: 100px;
    margin: auto 0px;
    font-weight: 900;
    color: #464e62;
}
.link {
    margin: auto 15px;
    font-weight: 700;
}
.scroll {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #464e62;
    text-decoration: none;
    margin-top: 150px;
}
.information {
    background: #efeff9;
}
.myphoto {
    width: 135px;
    height: 180px;
    border-radius: 50px;
    margin-right: 200px;
    margin-left: 50px;
}
.aboutme {
    display: flex;
    color: #9b9fac;
    font-size: 17px;
    font-weight: 500;
}
.name {
    color: #464e62;
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
}
.info {
    display: flex;
    font-size: 18px;
}
.ask {
  margin-right: 90px;
  color: #9b9fac;
}
.answer {
    color: #464e62;
    font-weight: 900;
}
.reason {
    padding-left: 140.08px;
    color: #9b9fac;
    font-style: italic;
}
.three {
    width: 0;
	height: 0;
	border-left: 609px solid transparent;
	border-right: 609px solid transparent;
	border-top: 80px solid #efeff9;
}
.forbag {
    position: relative;
}
.helpfull {
    margin-left: 30%;
    color: #464e62;
    font-size: 30px;
    font-weight: 700;
}
.frontend {
    margin: 80px 0px 0px 100px;
    color: #464e62;
    font-size: 23px;
    max-width: 72%;
}
.langs {
    display: flex;
    justify-content: space-between;
}
.ring {
    margin-top: 40px;
    display: inline-block;
    width: 143px;
    height: 143px;
    border-left: 15px solid #e9e9e9;
    border-top: 15px solid #e9e9e9;
    border-right: 15px solid #e9e9e9;
    border-bottom: 15px solid #e9e9e9;
    border-radius:50%;
}
.incircle {
    color: #9b9fac;
    text-align: center;
    margin-top: 40%;
    font-size: 18px;
    height: 50px;
}
.js {
    margin-top: -10px;
}
.bag {
    position: absolute;
    left: -90px;
    top: 75px;
}
.slider_cite {
    margin-top: 50px;
    display: flex;
}
.slider {
    width: 615px;
    overflow: hidden;
    position: relative;
}
.miniworks {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.slider-line {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 0.5s;
}
.vertical {
    position: relative;
    width: 615px;
}
.prev {
    right: 40px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #353e4e;
    border: none;
    appearance: none;
    color: white;
    border-style: none;
    outline: none;
    cursor: pointer;
}
.next {
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #353e4e;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.active {
    border-style: solid;
    border-color: #dc9322;
}
.prev:hover {
    border-style: solid;
    color: #dc9322;
    border-color: #dc9322;
    outline: #dc9322;
}
.next:hover {
    border-style: solid;
    color: #dc9322;
    border-color: #dc9322;
    outline: #dc9322;
}
.not_slider {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.proglangs {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.cite {
    margin: 0;
    font-size: 33;
}
.check_link {
    display: flex;
    color: #586fd3;
    font-weight: bold;
}
.check {
    margin-left: 20px;
    color: #586fd3;
    text-decoration: none;
    cursor: pointer;
}
.html, .css, .jss {
    border: 4px black;
    border-radius: 50px;
    background: #f3f5f9; /* Цвет фона */
    padding: 10px 17px;
}  
.horizont {
    margin: 18px 0px 0px 60px;
}
.slider_about {
    position: relative;
    margin-top: 100px;
}
.not_budda {
    background: linear-gradient(to bottom, #d9e2f2 0%, #e9f0f5 100%), center no-repeat;
}
.feedback {
    display: flex;
    padding-top: 150px;
}
.review {
    width: 900px;
    overflow: hidden;
    position: relative;
}
.forjs {
    display: flex;
    width: 450px;
}
.leader {
    display: flex;
}
.profi {
    width: 90px;
    height: 90px;
    border-radius: 90px;
}
.slider-element {
    display: flex;
    position: relative;
    padding: 60px 0px 0px 0px;
    width: 450px;
}
.guy {
    margin: 0px 0px 20px 0px;
}
.director {
    margin-left: 30px;
}
.fullname {
    margin: 15px 0px 15px 15px;
}
.position {
    margin: 0px 0px 0px 15px;
}
.slider-line-2 {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 0.5s;
}
.fonder {
    text-align: right;
}
.prev2 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: transparent;
    border-style: solid;
    border-color: #353e4e;
    outline: none;
    cursor: pointer;
}
.next2 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: transparent;
    border-style: solid;
    border-color: #353e4e;
    outline: none;
    cursor: pointer;
}
.disabled {
    border-color: #a79092;
    color: #a79092;
    cursor: default;
}
.white {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 80px solid white;
}
.write_me {
    padding: 120px 0px 40px 0px;
}
.connect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 300px;
}
.forms {
    display: flex;
    justify-content: space-between;
}
.form {
    position: relative;
    color: red;
    width: 45%;
}
.form_label {
    position: absolute;
    top: 25px;
    left: 35px;
    bottom: 12px;
    font-size: 15px;
    color: #c7c9d0;
    transition: 0.3s;
    pointer-events: none;
}
.form_input {
    width: 100%;
    padding: 25px 0px 10px 35px;
    font-size: 17px;
    font-weight: 700;
    color: #464d62;
    border: none;
    border-bottom: 1px solid #bec5ca;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}
.form_input:focus {
    border-bottom: 1px solid #464d62;
}
.user {
    position: absolute;
    left: 0px;
    bottom: 10px;
}
.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
    top: 0px;
}
.msg_letter {
    width: 100%;
}
.submit {
    text-transform: uppercase;
    width: 35%;
    height: 80px;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    border: none;
    color: white;
    background: linear-gradient(to right, #7c00ea 0%, #4a00ed 100%);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
}
.budda {
    background: linear-gradient(to top, transparent 0%, #e9f0f5 100%), url(../images/bg/budda.jpg) center no-repeat;
    z-index: -1;
}
.footer {
    background-color: #252830;
    display: flex;
    justify-content: space-between;
}
.copyright {
    color: #3b3e45;
    font-size: 45px;
    font-weight: 600;
}
.foot {
    color: white;
    width: 100%;
}
.last_name {
    color: white;
}
.own_site {
    color: #3b3e45;
    font-size: 16px;
    font-weight: 500;
}
.afterwords {
    padding-top: 30px;
    color: #67696f;
}
.last_icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.last_icon {
    padding: 8px;
    border: 1px solid #67696f;
    border-radius: 50%;
}
.martin {
    color: white;
    font-style: italic;
}



@media (max-width: 700px) {
    div.title {
        color: green;
    }
}

@media (max-width: 500px) {
    div.title {
        color: blue;
    }

    .block {
        width: 100%;
    }
}
</style>