<template>
    <div class="settings">
        <div class="lefter">
            <img class="myphoto" src="../images/content/user.jpg">
            <h2>Андрей Белый</h2>
            <h3>Веб-программист</h3>
            <hr class="horizont">
            <div class="navs">
                <router-link v-for="nav in navsItems" :key="nav.name" :to="nav.link" :class="nav.class"><fa-icon class="sign-out" :icon="nav.icon"/>{{nav.name}}</router-link>
            </div>
            <hr class="horizont">
            <div class="inner">
                <fa-icon class="awesome" :icon="['fas', 'question-circle']"/> 
                <h2 class="support">Поддержка</h2>
            </div>
            <router-link to="/" class="exit"><fa-icon class="sign-out" :icon="['fas', 'sign-out-alt']"/></router-link>
        </div>
        <router-view class="full"/>
    </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Settings",
  components: {
  },
  data() {
      return {
          navsItems: [
            {
               link: "/admin",
               icon: ['fas', 'home'],
               name: "Главная",
               class: "only-exact-menu"
            },
            {
               link: "/admin/about",
               icon: ['fas', 'address-card'],
               name: "Обо мне",
               class: ""
            },
            {
               link: "/admin/skills",
               icon: ['fas', 'university'],
               name: "Навыки",
               class: ""
            },
            {
               link: "/admin/projects",
               icon: ['fas', 'briefcase'],
               name: "Работы",
               class: ""
            },
            {
               link: "/admin/feedback",
               icon: ['fas', 'comments'],
               name: "Отзывы",
               class: ""
            }
          ],
      }
  },
  methods: {
} 
}

</script>

<style scoped>
.full {
    width: 80%;
}
.settings {
    height: 100vh;
    display: flex;
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    font-size: 14px;
}
.lefter {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 270px;
    text-align: center;
    background-color: white;
    border-right: 2px solid rgb(218, 210, 210);
    color: rgba(58, 59, 63, 1);
}
.myphoto {
    width: 135px;
    height: 180px;
    border-radius: 180px;
    margin: 30px auto 0px auto;
}
h2,h3 {
    margin: 10px 0px;
}
h3 {
    color: rgba(158, 160, 165, 1);
}
.horizont {
    width: 80%;
}
.navs {
    padding: 30px 30px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navs a {
    font-size: 14px;
    color: rgba(102, 120, 138, 1);
    text-align: left;
    border-radius: 5px;
    padding: 6px;
    transition: 0.3s;
    text-decoration: none;
    display: block;
}
.navs a:hover {
    background-color: wheat;
}
.inner {
    display: flex;
    padding: 20px 30px;
    flex-grow: 1;
    align-items: center;
    color: rgba(102, 120, 138, 1)
}
.awesome {
    font-size: 18px;
    margin: 10px 5px 10px 0px;
}
.support {
    font-size: 14px;
}
.exit {
    position: absolute;
    top: 5px;
    left: 5px;
}
.sign-out {
    transform: scale(-1, 1);
    font-size: 18px;
    color: rgba(102, 120, 138, 1);
    margin-right: 10px;
}
</style>